<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TFlask App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
<header>
    <div class=""conatiner>
        <h1 class="logo">Tapendra web app</h1>
        <strong><nav>
            <ul class="menu">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
            </ul>
        </nav></strong>
    </div>
</header>
<div class="container">
    {%block content%}
    {%endblock%}
</div>
</body>
</html>